[submodule "resume"]
	path = resume
	url = git@github.com:NorthIsUp/resume.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "pelican-themes"]
	path = pelican-themes
	url = git@github.com:getpelican/pelican-themes.git
